.aether-bubble {
  position: absolute;
  bottom: 0.5px;
  right: 12px;
  width: 28px;
  height: 28px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;
  transition: all 0.2s ease;
}

.aether-bubble:hover {
  transform: scale(1.1);
  background-color: #fff;
}

.aether-bubble img {
  width: 25px;
  height: 25px;
}